

*{margin:0;padding:0}
.right_sidebar_background{background:url(img/2.jpg) no-repeat;background-size:100% 168px;height:168px}
/* section column(sc) for large device(ld) badge 100% */
.sc-ld-1{width:8.333334%}
.sc-ld-2{width:16.666667%}
.sc-ld-3{width:25%}
.sc-ld-4{width:33.333334%}
.sc-ld-5{width:41.666667%}
.sc-ld-6{width:50%}
.sc-ld-7{width:58.333334%}
.sc-ld-8{width:66.666667%}
.sc-ld-9{width:75%}
.sc-ld-10{width:83.333334%}
.sc-ld-11{width:91.666667%}
.sc-ld-12{width:100%}

/* section column extra property */
.sc-ld-1,.sc-ld-10,.sc-ld-11,.sc-ld-12,.sc-ld-2,.sc-ld-3,.sc-ld-4,.sc-ld-5,.sc-ld-6,.sc-ld-7,.sc-ld-8,.sc-ld-9{float:left;padding-left:15px;padding-right:15px;box-sizing:border-box}

.row::after{content:"";display:table;clear:both;}
/* top margin */
.m-t-1{margin-top:1em}
.m-t-2{margin-top:2em}
.m-t-3{margin-top:3em} 
.m-t-4{margin-top:4em}
.m-t-5{margin-top:5em}
.m-t-6{margin-top:6em}
.m-t-7{margin-top:7em}
.m-t-8{margin-top:8em}
.m-t-9{margin-top:9em}
.m-t-10{margin-top:10em}
.m-t-11{margin-top:11em}
.m-t-12{margin-top:12em}
.m-t-13{margin-top:13em}
.m-t-14{margin-top:14em}
.m-t-15{margin-top:15em}
.m-t-16{margin-top:16em}
.m-t-17{margin-top:17em}
.m-t-18{margin-top:18em}
.m-t-19{margin-top:19em}
.m-t-20{margin-top:20em}
.m-t-21{margin-top:21em}
.m-t-22{margin-top:22em}
.m-t-23{margin-top:23em}

/* bottom margin */
.m-b-1{margin-bottom:1em}
.m-b-2{margin-bottom:2em}
.m-b-3{margin-bottom:3em}
.m-b-4{margin-bottom:4em}
.m-b-5{margin-bottom:5em}
.m-b-6{margin-bottom:6em}
.m-b-7{margin-bottom:7em}
.m-b-8{margin-bottom:8em}
.m-b-9{margin-bottom:9em}
.m-b-10{margin-bottom:10em}
.m-b-11{margin-bottom:11em}

/* left margin */
.m-l-1{margin-left:1em}
.m-l-2{margin-left:2em}
.m-l-3{margin-left:3em}
.m-l-4{margin-left:4em}
.m-l-5{margin-left:5em}
.m-l-6{margin-left:6em}
.m-l-7{margin-left:7em}
.m-l-8{margin-left:8em}
.m-l-9{margin-left:9em}
.m-l-10{margin-left:10em}
.m-l-11{margin-left:11em}
.m-l-12{margin-left:12em}
.m-l-13{margin-left:13em}
.m-l-14{margin-left:14em}
.m-l-15{margin-left:15em}
.m-l-16{margin-left:16em}
.m-l-17{margin-left:17em}
.m-l-18{margin-left:18em}
.m-l-19{margin-left:19em}
.m-l-20{margin-left:20em}
.m-l-21{margin-left:21em}
.m-l-22{margin-left:22em}
.m-l-23{margin-left:23em}

/* right margin */
.m-r-1{margin-right:1em}
.m-r-2{margin-right:2em}
.m-r-3{margin-right:3em}
.m-r-4{margin-right:4em}
.m-r-5{margin-right:5em}
.m-r-6{margin-right:6em}
.m-r-7{margin-right:7em}
.m-r-8{margin-right:8em}
.m-r-9{margin-right:9em}
.m-r-10{margin-right:10em}
.m-r-11{margin-right:11em}
.m-r-12{margin-right:12em}
.m-r-13{margin-right:13em}
.m-r-14{margin-right:14em}
.m-r-15{margin-right:15em}
.m-r-16{margin-right:16em}
.m-r-17{margin-right:17em}
.m-r-18{margin-right:18em}
.m-r-19{margin-right:19em}
.m-r-20{margin-right:20em}
.m-r-21{margin-right:21em}
.m-r-22{margin-right:22em}
.m-r-23{margin-right:23em}
.m-r-24{margin-right:24em}
.m-r-25{margin-right:25em}
.m-r-26{margin-right:26em}
.m-r-27{margin-right:27em}
.m-r-28{margin-right:28em}
.m-r-29{margin-right:29em}
.m-r-30{margin-right:30em}

/* top padding */
.p-t-1{padding-top:1em}
.p-t-2{padding-top:2em}
.p-t-3{padding-top:3em}
.p-t-4{padding-top:4em}
.p-t-5{padding-top:5em}
.p-t-6{padding-top:6em}
.p-t-7{padding-top:7em}
.p-t-8{padding-top:8em}
.p-t-9{padding-top:9em}
.p-t-10{padding-top:10em}
.p-t-11{padding-top:11em}
.p-t-12{padding-top:12em}
.p-t-13{padding-top:13em}
.p-t-14{padding-top:14em}
.p-t-15{padding-top:15em}
.p-t-16{padding-top:16em}
.p-t-17{padding-top:17em}
.p-t-18{padding-top:18em}
.p-t-19{padding-top:19em}
.p-t-20{padding-top:20em}
.p-t-21{padding-top:21em}
.p-t-22{padding-top:22em}
.p-t-23{padding-top:23em}
.p-t-24{padding-top:24em}
.p-t-25{padding-top:25em}

/* bottom padding */
.p-b-1{padding-bottom:1em}
.p-b-2{padding-bottom:2em}
.p-b-3{padding-bottom:3em}
.p-b-4{padding-bottom:4em}
.p-b-5{padding-bottom:5em}
.p-b-6{padding-bottom:15em}

/* left padding */
.p-l-1{padding-left:1em}
.p-l-2{padding-left:2em}
.p-l-3{padding-left:3em}
.p-l-4{padding-left:4em}
.p-l-5{padding-left:5em}
.p-l-6{padding-left:6em}
.p-l-7{padding-left:7em}
.p-l-8{padding-left:8em}
.p-l-9{padding-left:9em}
.p-l-10{padding-left:10em}
.p-l-11{padding-left:11em}
.p-l-12{padding-left:12em}
.p-l-13{padding-left:13em}
.p-l-14{padding-left:14em}
.p-l-15{padding-left:15em}
.p-l-16{padding-left:16em}
.p-l-17{padding-left:17em}
.p-l-18{padding-left:18em}
.p-l-19{padding-left:19em}
.p-l-20{padding-left:20em}

/* right padding */
.p-r-1{padding-right:1em}
.p-r-2{padding-right:2em}
.p-r-3{padding-right:3em}
.p-r-4{padding-right:4em}
.p-r-5{padding-right:5em}
.p-r-6{padding-right:6em}
.p-r-7{padding-right:7em}
.p-r-8{padding-right:8em}
.p-r-9{padding-right:9em}
.p-r-10{padding-right:10em}
.p-r-11{padding-right:11em}
.p-r-12{padding-right:12em}
.p-r-13{padding-right:13em}
.p-r-14{padding-right:14em}
.p-r-15{padding-right:15em}
.p-r-16{padding-right:16em}
.p-r-17{padding-right:17em}
.p-r-18{padding-right:18em}
.p-r-29{padding-right:19em}
.p-r-20{padding-right:20em}
.p-r-21{padding-right:21em}
.p-r-22{padding-right:22em}
.p-r-23{padding-right:23em}
.p-r-24{padding-right:24em}
.p-r-25{padding-right:25em}
.p-r-26{padding-right:26em}
.p-r-27{padding-right:27em}
.p-r-28{padding-right:28em}
.p-r-29{padding-right:29em}
.p-r-30{padding-right:30em}

/* content alignment */
.con-center{text-align:center}
.con-left{text-align:left}
.con-right{text-align:right}
.con-justify{text-align:justify}
.con-bottom{text-align:bottom}
.content{font-size:18px}
.content_1{font-size:20px}
.content_2{font-size:25px}
/* middle container */
.container{margin:0px auto;width:400px}
.container_1{margin:0px auto;width:300px}

/* default text fromating */
.text-primary{color:darkblue}
.text-yellow{color:#b0b01c}
.text-yellow-1{color:#00AFF0}
.text-white{color:#fff}
.text-black{color:#000}
.text-red{color:#ff0000}
.text-bold{font-weight:bold}
.text-upper{text-transform:uppercase}
.text-heading{color:#2C5F8A}
.color{color:#00AFF0}
.radius{border-radius:5px}